/*--- CSS Rest ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid rgb(220, 220, 220)
}


/*--- Universal Styles ---*/
/*--- eg: padding on sections, utility classes, etc.---*/
header,
footer,
.padded{
  padding: 5%;
}
.half-height{
  min-height: 50vh;
}

/*--- Typography ---*/
body {
  font-family: 'Work Sans', sans-serif;
  color: rgb(60, 60, 65);
}
span{
  color: #FFBE00;
}
footer {
  color: white;
}
h2 {
  font-size: 3rem;
}


/*--- Banners and Background Images ---*/
[class*='bg'],
.banner,
.small-banner {
  background-color: rgb(200,200,200);
}
.title {
  background-image: url(images/tree.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.bg-pug{
  background-image: url(images/pug.jpg);
  background-attachment: local;
  background-size: cover;
  background-position: 39% 35%;
}

.bg-bed{
  background-image: url(images/bed.jpg);
  background-attachment: local;
  background-size: cover;
  background-position: 39% 35%;
}



/*--- header ---*/
[class*= 'title']
{
  color: white;
  text-align: center;
}
h1{
  font-size: 7vw;
}
.title p{
  font-size: 2rem;
}




/*--small banner--*/
.small.banner span{
  color: white;
}
.small.banner{
  min-height: 70vh;
}
.bg-pencil{
  background-image: url(images/pencil.jpg);
  background-attachment: local;
  background-size: cover;
  background-position: 80% 32%;
}
.small.banner h2{
  font-size: 6rem;
  text-align: center;
}
.small.banner p {
  font-size: 2rem;
  text-align: center;
}


/*--- Testomonial Section ---*/
.quote p {
  font-size: 1rem;
}
.quote {
  min-height: 50vh;
}
.text-align-right{
  text-align: right;
}
.fontsize p{
  font-size: 2rem;
  padding-top: 12%;
}
.text-align-right-pad {
  padding-bottom: 10%;
  text-align: right;
  color: #C0C0C0;
}
.quotem p{
  font-size: 5rem;
}



/*--- Footer ---*/
footer{
  background-color: rgb(60, 60, 65);
  min-height: 60vh;
  padding: 5%;
  padding-bottom: 2%;

}
.lets-connect h2{
  font-size: 5rem;
}
.lets-connect span {
  display: block;
  line-height: 0.8%;
}
.lets-connect p {
  padding-top: 14%;
}


/*--- Contact Form ---*/
input, textarea, button {
  display: block;
  padding: 3%;
  margin: 2%;
  font-family:'Work Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
}
textarea {
  min-height: 25vh;
}
button {
  background-color: #FFBE00;
  color: white;
}


/*--Media Query--*/
@media(max-width:1024px) {
  h1 {font-size: 3rem;}

  .title p { font-size: 1.6rem;}
}



@media(max-width:768px) {
  [class*='bg'] {
    padding-bottom: 50%;
  }
  .banner {
    padding: 5%;
  }
  .mob-reverse {
    flex-direction: column-reverse;
  }
  .small.banner {
    min-height: 50vh;
    background: none;
    background-color: gold;
  }

  h1 {font-size: 2.5rem;}

  .title p { font-size: 1.2rem;}

  .fontsize p {
    font-size: 1.2rem;

}
